<%= stylesheet_link_tag "/stylesheets/style.css" %>

<div class="jumbotron text-center mb-4">
	<h1 class="display-1">Semesters</h1>
	<div class="btn btn-dark">
		<%= link_to("Add New Semester", new_semester_path, style:"color: white", value:"AddNewSemesterBtn") %>
	</div>
</div>

<div class="container text-center">
	<table class="table table-bordered table-striped table-hover">
		<thead class="table-dark">	
			<tr>
				<th class = "text-center">Name</th>
        		<th class=""> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></th>
			</tr>
		</thead>
		<tbody>
			<% @semesters.each do |semester| %>
			<tr>
				<td><%= semester.name %></td>
				<td>
					<div class="dropdown show" style="display:block; width:100%; height:100%; color: black;">
						<a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:block; width:100%; color: black;">

							<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="<%=semester_path(semester)%>">Show</a>
							<a class="dropdown-item" href="<%=edit_semester_path(semester)%>">Edit</a>
							<%= link_to "Delete", semester_path(semester), method: :delete, data: {confirm: "Are you sure you wish to delete this semester?"}, :class => "dropdown-item" %>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>
</div>
