<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @semester.name %>
</p>

<p>
  <strong>Members:</strong>
  <% @semester.members.each do |b| %>
    <li><%= b.first_name %> <%= b.last_name %> | <%= link_to("Show", member_path(b), :class => 'action show') %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_semester_path(@semester) %> |
<%= link_to 'Back', semesters_path %>
