<%= stylesheet_link_tag "/stylesheets/style.css" %>

<div class="jumbotron text-center">
	<h1><%= @semester.name %></h1>
</div>

<div class="container text-center">
	<table class="table table-bordered table-striped table-hover">
		<thead class="table-dark">	
			<tr>
				<th class = "text-center">First Name</th>
				<th class = "text-center">Last Name</th>
				<th class = "text-center">Class Year</th>
				<th class=""> <i class="fa fa-ellipsis-v" aria-hidden="true"></i></th>
			</tr>
		</thead>
		<tbody>
			<% @semester.members.each do |member| %>
			<tr>
				<td><%= member.first_name %></td>
				<td><%= member.last_name %></td>
				<td><%= member.class_year %></td>
				<td>
					<div class="dropdown show" style="display:block; width:100%; height:100%; color: black;">
						<a class="" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="display:block; width:100%; color: black;">

							<i class="fa fa-ellipsis-v" aria-hidden="true"></i>
						</a>

						<div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
							<a class="dropdown-item" href="<%=member_path(member)%>">Show</a>
							<a class="dropdown-item" href="<%=edit_member_path(member)%>">Edit</a>
							<%= link_to "Delete", member_path(member), method: :delete, data: {confirm: "Are you sure you wish to delete this member?"}, :class => "dropdown-item" %>
						</div>
					</div>
				</td>
			</tr>
			<% end %>
		</tbody>
	</table>

	<div class="container text-center mb-5 mt-5">
		<div type="button" class="btn btn-secondary">
			<%= link_to("Back", semesters_path, style:"color: white") %>
		</div>
	</div>

</div>