<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @position.name %>
</p>

<p>
  <strong>Members:</strong>
  <% @position.members.each do |b| %>
    <li><%= b.first_name %> <%= b.last_name %></li>
  <% end %>
</p>

<%= link_to 'Edit', edit_position_path(@position) %> |
<%= link_to 'Back', positions_path %>
