<%= error_messages_for(f.object) %>

<div class="container text-center">
	<table class="table table-hover">
        <%# ------------ FIRST & LAST NAME ------------ %>
        <tr>
            <th colspan="2" style="background-color: #3579F6; color: white;">Contact Information</th>
        </tr>
        <tr>
            <th>First Name<span class="asterisk">*</span></th>
            <td><%= f.text_field(:firstName) %></td>
        </tr>
        <tr>
            <th>Last Name<span class="asterisk">*</span></th>
            <td><%= f.text_field(:lastName) %></td>
        </tr>
        <tr>
            <th>Email<span class="asterisk">*</span></th>
            <td><%= f.text_field(:email) %></td>
        </tr>
        <tr>
            <th>Phone Number</th>
            <td><%= f.text_field(:phone) %></td>
        </tr>
        <%# ------------ SOCIAL MEDIA ------------ %>
        <tr>
            <th colspan="2" style="background-color: #3579F6; color: white;">Social Media</th>
        </tr>
        <tr>
            <th style="border: unset;">LinkedIn:</th>
            <td style="border: unset;"><%= f.text_field :socialMediaL, :size=>"30" %></td>
        </tr>
        <tr>
            <th style="border: unset;">Instagram:</th>
            <td style="border: unset;"><%= f.text_field :socialMediaI, :size=>"30" %></td>
        </tr>
        <tr>
            <th style="border: unset;">Facebook:</th>
            <td style="border: unset;"><%= f.text_field :socialMediaF, :size=>"30" %></td>
        </tr>
        <tr>
            <th style="border: unset;">Twitter:</th>
            <td style="border: unset;"><%= f.text_field :socialMediaT, :size=>"30" %></td>
        </tr>
        <tr>
            <th style="border: unset;">Other (please specify):</th>
            <td style="border: unset;"><%= f.text_field :socialMediaO, :size=>"30" %></td>
        </tr>
        <%# ------------ Education ------------ %>
        <tr>
            <th colspan="2" style="background-color: #3579F6; color: white;">Education</th>
        </tr>

        <tr>
            <th>Major<span class="asterisk">*</span></th>
            <td><%= f.text_field(:major) %></td>
        </tr>

        <tr>
            <th>Class Year<span class="asterisk">*</span></th>
            <td><%= f.select :classYear, [2016, 2017, 2018, 2019, 2020, 2021, 2022, 2023, 2024, 2025] %></td>
        </tr>
        <%# ------------ Location & Employment ------------ %>
        <tr>
            <th colspan="2" style="background-color: #3579F6; color: white;">Location & Employment</th>
        </tr>

        <tr>
            <th>Current City<span class="asterisk">*</span></th>
            <td><%= f.text_field(:currentCity) %></td>
        </tr>
        <tr>
            <th>Company</th>
            <td><%= f.text_field(:company) %></td>
        </tr>
        <%# ------------ Twelve Organization Involvement ------------ %>
        <tr>
            <th colspan="2" style="background-color: #3579F6; color: white;">Twelve Organization Involvement</th>
        </tr>
        <tr>
            <th>Join date<span class="asterisk">*</span></th>
            <td><%= f.date_select(:startDate, order: [:month, :year]) %></td>
        </tr>
        <tr>
            <th>End date<span class="asterisk">*</span></th>
            <td><%= f.date_select(:endDate, order: [:month, :year]) %></td>
        </tr>
        <tr>
            <th>Positions Held<span class="asterisk">*</span></th>
            <td>
                <%= f.collection_check_boxes :position_ids, Position.all, :id, :name do |b| %>
                    <%= b.check_box %>
                    <%= b.label %><br>
                <% end %>
            </td>    
        </tr>
    </table>
</div>
