<%= link_to("<< Back to List", members_path, :class => 'back-link') %>

<div class="members edit">
	<h2>Update Member</h2>
	
	<%= form_for(@member) do |f| %>

		<table summary="Member Form Fields">
			<tr>
				<th>First Name</th>
				<td><%= f.text_field(:firstName) %></td>
			</tr>
			<tr>
				<th>Last Name</th>
				<td><%= f.text_field(:lastName) %></td>
			</tr>
			<tr>
				<th>class Year</th>
				<td><%= f.date_select(:classYear, :order =>[:year], ) %></td>
			</tr>
		</table>
		
		<div class="form-butttons">
			<%= f.submit("Update Member") %>
		</div>
		
	<% end %>
</div>