<%= stylesheet_link_tag "/stylesheets/style.css" %>
<%= stylesheet_link_tag "/stylesheets/edit.css" %>

<div class="page-title">
	<div class="nav-link">
		<%= button_to " << Back to List ", members_path, method: :get %>
	</div>
	<h1>Update Member</h1>
</div>

<div class="required-fields">Fields marked with <span class="asterisk">*</span> are required</div>

<%= form_for(@member) do |f| %>

	<%= render(:partial => 'form', :locals => {:f => f})%>
	
	<div class="nav-bar">
		<%= f.submit(" Update Member ") %>
	</div>
	
<% end %>