<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<div class="member index">
	<h2>Twelve Alumni Tracker</h2>
	
	<%= link_to("Add New Member", new_member_path, :class => 'action new') %>
	
	<table class="listing" summary="Member List">
		<tr class="header">
			<th>First Name</th>
			<th>Last Name</th>
			<th>Class Year</th>
			<th>Actions</th>
		</tr>
		<% @members.each do |member| %>
		<tr>
			<td><%= member.firstName %></td>
			<td><%= member.lastName %></td>
			<td><%= member.classYear %></td>
			<td class="actions">
				<%= link_to("Show", member_path(member), :class => 'action show') %>
				<%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
				<%= link_to("Delete", delete_member_path(member), :class => 'action delete') %>
			</td>
		</tr>
		<% end %>
	</table>
</div>
