<%= stylesheet_link_tag "/stylesheets/style.css" %>
<%= stylesheet_link_tag "/stylesheets/index.css" %>

<% if !flash[:notice].blank? %>
	<div class="notice">
		<%= flash[:notice] %>
	</div>
<% end %>

<h2>You're logged in! Welcome to the Twelve Alumni Tracker!</h2>
<%= link_to "Sign Out", destroy_admin_session_path %>

<div class="page-title">
	<h1>Twelve Alumni Tracker</h1>
	<%= button_to "Add New Member", new_member_path, method: :get %>
</div>

<table class="listings" summary="Member List">
	<tr class="header">
		<th>First Name</th>
		<th>Last Name</th>
		<th>Class Year</th>
		<th>Actions</th>
	</tr>
	<% @members.each do |member| %>
	<tr>
		<td><%= member.firstName %></td>
		<td><%= member.lastName %></td>
		<td><%= member.classYear %></td>
		<td class="actions">
			<%= link_to("Show", member_path(member), :class => 'action show') %>
			<%= link_to("Edit", edit_member_path(member), :class => 'action edit') %>
			<%= link_to("Delete", delete_member_path(member), :class => 'action delete') %>
		</td>
	</tr>
	<% end %>
</table>
