<%= stylesheet_link_tag "/stylesheets/style.css" %>
<%= stylesheet_link_tag "/stylesheets/new.css" %>

	<div class="page-title">
		<div class="nav-link">
			<%= button_to " << Back to List ", members_path, method: :get %>
		</div>
		<h1>Create Member</h1>
	</div>

<div class="jumbotron text-center bg-primary">
	<h1>Add New Alumni</h1>
</div>
	
<div class="required-fields">Fields marked with <span class="asterisk">*</span> are required</div>

	<%= form_for(@member, :url => members_path, :method => 'post') do |f| %>

		<%= render(:partial => 'form', :locals => {:f => f})%>
		
		<div class="nav-bar">
			<%= f.submit(" Create Member ") %>
		</div>

	<% end %>
</div>